{
  "content": "对话内容",
  "items"#题目信息: [
    {
      "stem": "题干信息",
      "options"#选项信息，按照选项内容进行输出: {
        "A": "选项信息",
        "B": "选项信息",
        "C": "选项信息"
      },
      "answer": "答案",
      "analysis": {
        "topic": "考查点",
        "details": "写原文答案出处文本及中文翻译，最后解释说明。"
      }
    }
  ]
}